*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root {
    --primary-color: #a6a6a6;
    --secondary-color: #ccd4d9;
    --tetriary-color: #736e6c;
    --dark-primary-color: #252526;
    --dark-secondary-color: #3e3e40;
}

body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.5;
    background: linear-gradient(
        to right,
        rgba(178, 190, 181, 1),
        rgba(211, 200, 200, 1)
    );
    scroll-behavior: smooth;
}

.body-dark {
    background: linear-gradient(
        to right,
        var(--dark-primary-color),
        var(--dark-secondary-color)
    );
    color: #fff;
}
a {
    color: #000;
    font-size: 1.5rem;
    text-decoration: none;
}

i {
    font-size: 2rem;
    color: var(--primary-color);
    transition: all 0.3s;
}

i:hover {
    cursor: pointer;
    color: var(--tetriary-color);
    transform: scale(1.3);
}

ul {
    list-style: none;
}

h1 {
    font-family: "Winky Sans", sans-serif;
    font-weight: 400;
    font-size: 50px;
}

h3 {
    font-weight: 400;
}

/* Utilities */
.container {
    margin: 1rem auto;
    padding: 1rem 4rem;
    max-width: 1200px;
    max-height: 600px;
}

.btn {
    background: var(--primary-color);
    font-size: 1.3rem;
    margin: 10px;
    padding: 15px 40px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover {
    border: solid 1px var(--tetriary-color);
    background-color: var(--secondary-color);
}

.btn-dark {
    background: var(--dark-primary-color);
    color: #f4f4f4;
}
.btn-dark:hover {
    background-color: var(--dark-secondary-color);
}

/* Solely used for the fontAwesome links */
.light-text {
    color: #f4f4f4;
}
.light-text:hover {
    color: #f2f2f2;
}

.link-active {
    display: none;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .menu-links {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }

    .themeBtn-container {
        display: flex;
        gap: 1rem;
    }

    h3 {
        font-size: 1.4rem;
        font-weight: 500;
        margin: 10px;
    }

    i {
        padding: 10px;
    }
}

/* heading */

.heading .container {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 90px;
        margin-right: 10px;
    }
}

/* Desc */
.description .container {
    font-size: 1.2rem;
    max-width: 1400px;
    text-align: center;
}

/* btns */
.btns {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.btn-container {
    margin: 1rem;
    padding: 1rem 2rem;
    text-align: center;
}

/* Joke Box */
.joke-display {
    flex-direction: column;
    justify-items: center;
    align-items: center;
    max-width: 1200px;
    padding: 1rem;
    margin: 0 auto 8rem;
    text-align: center;
    font-size: 1.1rem;
    border: 1px solid;
    display: none;
}

.joke-display p {
    padding: 1rem;
}

/* Footer */
.footer {
    margin: 1rem auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icons-box {
    margin: 10px auto 15px;
    /* padding: 10px; */
}

.icons-box a {
    margin: 0px 5px;
}

/* Favourites.css */

#saved-jokes {
    margin: 1rem auto 14rem;
}

.saved-jokes-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.joke-box {
    width: 100%;
    padding: 1.5rem;
    position: relative;
    border: 1px solid;
}
.joke-paragraph {
    margin: 0 auto;
    text-align: center;
    width: 80%;
}

.delete-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.2rem;
    color: red;
}

.delete-btn:hover {
    color: red;
    transform: scale(1.1);
}

.saved-message {
    margin-bottom: 0.8rem;
    font-weight: 500;
    font-style: italic;
}

/* media queries */
@media (max-width: 768px) {
    body {
        line-height: 1.3;
    }

    .container {
        padding: 10px 30px;
    }

    .header {
        h3 {
            display: none;
        }
    }

    .heading .container {
        img {
            display: none;
        }
    }
}

@media (max-width: 578px) {
    .btns {
        flex-direction: column;
    }

    .joke-display {
        margin-bottom: 30px;
    }
}
